/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 / {
	chosen {
		nordic,nus-uart = &uart0;
	};

	// rtc0: rtc@4000b000 {
	// 	compatible = "nordic,nrf-rtc";
	// 	reg = <0x4000b000 0x1000>;
	// 	cc-num = <3>;
	// 	interrupts = <11 NRF_DEFAULT_IRQ_PRIORITY>;
	// 	status = "disabled";
	// 	clock-frequency = <32768>;
	// 	prescaler = <1>;
	// };
};

&pwm0 {
	status = "disabled";
};

&sw_pwm {
	status = "okay";
	channel-gpios = <&gpio0 27 PWM_POLARITY_NORMAL>;
};

&pwm_led0 {
	pwms = <&sw_pwm 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
};
